/* GRID */

.grid-container {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px 6fr 4fr 1fr 40px;
    grid-template-areas:
    'header'
    'main'
    'aside'
    'controller'
    'footer';
    grid-row-gap: 5px;
    /* Without height of address bar in chrome mobile */
    height: calc(100vh - 56px);
}

body.gallery aside, body.gallery .tools, body.gallery .controller, body.gallery #canvas{
    display: none;
}

body.gallery .grid-container {
    grid-template-columns: 100%;
    width: 100%;
    grid-template-rows: 55px 1fr 40px;
    grid-template-areas:
    'header'
    'gallery'
    'footer';
}

.grid-container > * {
    color:white;
}