/* HELPERS */
.rtl {direction: rtl;text-align: right;}


/* Flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}