
main {
    grid-area: main; 
    /* background: url('../img/back.jpg') repeat; */
    border-radius: 15px;
    margin: 0 5px;
}

canvas {
    align-self: center;
    border-radius: 10px;
}

aside{
    grid-area: aside; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 0 5px;
    overflow-y: auto;
    border-bottom:1px black solid;
    align-self: center;
}

aside h2 {
    display: none
}

.text-editor {
    padding: 0 10px;
}

.text-editor a, .text-editor i, .text-editor label, .editing-options input, .editing-options select {
    cursor: pointer;
    transition: .3s;
}

.text-editor a:hover, .text-editor i:hover, .text-editor label:hover {
    color: rgb(218, 81, 47);
}

.text-editor a:active, .text-editor i:active {
    transform: scale(0.9);
}

.text-editor div {
    color: black;
}

.text-editor i {
    font-size: 30px;
}

.text-editor div label {
    font-size: 20px;
}

.textInput {
    border: none;
    padding-left: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    font-size:30px;
    width: 80%;
    border-bottom: 2px solid rgb(218, 81, 47);
    font-family: 'Alef', sans-serif;
}

.editing-options {
    margin-top: 10px;
}

.font-edit {
    width: 45%;
    margin: 0 0 0 10px;
}

.font-edit label {
    margin: 5px 2px;
}

.colorInput, .strokeColorInput, .fontSelector {
    margin-left: 5px;
    border: 1px solid rgb(218, 81, 47);
    border-radius: 5px;
    padding: 0 4px;
    background-color: transparent;
    height: 30px;
}

.colorInput, .strokeColorInput {
    width: 60%;
}

.fontSelector {
    width: 100%;
    font-size: 20px;
    font-family: 'Alef', sans-serif;
}

.sizenmove {
    width: 47%;
}

.font-size-control {
    height: 70px;
}

.line-move {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 100px;
    height: 100px;
}

.arrow-left {
    grid-area: 2 / 1 / span 1 / span 1;
}

.arrow-up {
    grid-area: 1 / 2 / span 1 / span 1;
}

.arrow-down {
    grid-area: 3 / 2 / span 1 / span 1;
}

.arrow-right {
    grid-area: 2 / 3 / span 1 / span 1;
}

.controller {
    grid-area: controller; 
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 15px;
    /* margin: 0 5px; */
}

.btn-control {
    transition: .3s;
}

.btn-control label {
    cursor: pointer;
}

.btn-control:hover {
    color: rgb(218, 81, 47);
}

a:visited, a:link {
    color: black;
}

.controller a {
    padding:0 15px;
    border-radius: 15px;
    text-decoration: none;
}

footer{
    grid-area: footer; 
    background: black;
    text-align: center;
    line-height: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}