@media (min-width: 768px){

    aside {
        box-shadow: inset 0px 50px 0px 0px rgba(0,0,0,1); 
        border: 1px black solid;
    }

    .editing-options {
        margin-top: 20px;
        height: 80%;
    }

    .font-size-control {
        flex-direction: row-reverse;
        width: 15%;
    }

    aside h2 {
        display: block;
        color:white;
        font-size:30px;
        line-height: 30px; 
        padding:10px;
        /* margin-bottom: 20px; */
    }
    aside li {
        font-size:1.2em
    }
    aside li span.time {
        display:inherit
    }

    .btn-control {
        font-size: 25px;
    }

    .grid-container {
        grid-row-gap: 15px;
        grid-template-rows: 55px 7fr 6fr 1fr 40px;
    }

    main {
        width: 70%;
        margin: 0 auto;
    }

    aside {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 920px) {

    header .title h1 {
        font-size: 56px;
    }

    main {
        width: 100%;
        margin: 0;
    }

    aside {
        width: calc(100% - 10px);
        margin: 0 0 0 2px;
    }

    .editing-options {
        margin-top: 40px;
    }

    .text-editor {
        padding: 30px 20px;
        height: 80%;
    }

    .grid-container {
        grid-row-gap: 35px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 130px 60% auto 80px;
        grid-template-areas:
        'header header'
        'aside main'
        'controller controller'
        'footer footer';
    }

    body.gallery .grid-container {
        grid-row-gap: 15px;
        grid-template-columns: 100%;
        grid-template-rows: 130px 1fr 80px;
    }

    footer {
        line-height: 80px;
    }
}